html, body{
    height: 100%;
}

body {
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /*padding: 0px 135px;*/
    color: white;
}

button {
    width: 150px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color: #4285F4;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

p {
    margin: 0;
}

.header-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 300;
    margin: 12px;
}

.header-container {
    background-color: #1F2D37;
    display: flex;
    flex-direction: column;
    height: 700px;
    padding: 0px 150px;
}

.header {
    font-size: 30px;
    font-weight: 700;
    padding: 20px 50px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.awesome {
    display: flex;
    justify-content: space-between;
    padding: 16px 50px;
    gap: 30px;
}

.awesome .text {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 56px;
    font-weight: 700;
    justify-content: space-around;
    gap: 10px;
}

.awesome .text .subtext {
    font-size: 14px;
}

.awesome .image {
    background-color: gray;
    padding: 16px;
    flex: 1;
}

.random-info {
    padding: 16px 150px;
    background-color: white;
    color: #222;
    display: flex;
    flex-direction: column;
}

.random-info p {
    align-self: center;
}

.random-info .images {
    padding: 0px 120px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.random-info .text {
    padding: 0px 120px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.random-info .text .subtext {
    max-width: 100px;
    max-height: 100px;
    text-align: center;
}


.random-info .images .random-image {
    border: 3px solid maroon;
    border-radius: 16px;
    width: 100px;
    height: 100px;
}


.quote {
    height: 30%;
    background-color: #ccc;
}

.signup {
    height: 20%;
    background-color: white;
}

.footer {
    padding: 50px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
}