html, body{
    height: 100%;
}

body {
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /*padding: 0px 135px;*/
    color: white;
    margin: 0px;
}

button {
    width: 150px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color: #4285F4;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

p, h1 {
    margin: 0;
}

.header-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 300;
    margin: 12px;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    height: 700px;
    padding: 0px 150px;
    padding-bottom: 50px;
}

.header {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
    padding: 20px 50px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.awesome {
    display: flex;
    justify-content: space-between;
    padding: 16px 50px;
    gap: 30px;
}

.awesome .text {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 56px;
    font-weight: 700;
    justify-content: space-around;
    gap: 10px;
}

.awesome .text .subtext {
    font-size: 14px;
}

.awesome .image {
    background-color: gray;
    padding: 16px;
    flex: 1;
}

.random-info {
    padding: 20px 150px;
    background-color: white;
    color: #222;
    display: flex;
    flex-direction: column;
}

.random-info p {
    align-self: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 25px;
}

.random-info .images {
    padding: 0px 120px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.random-info .text {
    padding: 0px 120px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.random-info .text .subtext {
    max-width: 150px;
    max-height: 155px;
    text-align: center;
    padding-bottom: 50px;
}


.random-info .images .random-image {
    border: 3px solid #4285F4;
    border-radius: 16px;
    width: 150px;
    height: 155px;
}


.quote {
    background-color: #ccc;
    color: #111;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.quote .text {
    font-size: 20px;
    font-style: italic;
    width: 650px;
    padding: 5px 0px;
}

.quote .author {
    padding-left: 500px;
    font-weight: 600;
}

.signup {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.signup .blue-border {
    flex: .6;
    border-radius: 6px;
    padding: 30px 20px;
    align-self: center;
    justify-self: center;
    background-color: #3882F6;
    margin: 50px;
    display: flex;
    justify-content: space-around;
}

.signup .btn {
    align-self: center;
}

.signup button {
    border: 2px solid white;
    border-radius: 4px;
}

.footer {
    padding: 20px 50px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;

}