body {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
}

.header-links a {
    text-decoration: none;
    color: white;
    margin: 12px;
}


.header {
    color: white;
    background-color: #a0c;
    padding: 30px 16px;
    display: flex;
    justify-content: space-around;
}